<div class="col-xs-8">
    <form [ngFormModel]="form" (ngSubmit)="updatePassword()">
        <div class="form-group">
            <div>
                <h5>Current Password</h5>
            </div>
            <input placeholder="Current Password" ngControl="currentPassword" id="currentPassword" #currentPassword="ngForm" type="password"
                class="form-control">
            <div *ngIf="currentPassword.touched && currentPassword.errors">
                <div *ngIf="currentPassword.errors.required" class="alert alert-danger">Current password is required.</div>
                <div *ngIf="currentPassword.errors.validOldPassword" class="alert alert-danger">Current password is incorrect.</div>
            </div>

        </div>
        <div class="form-group">
            <div>
                <h5>New Password</h5>
            </div>
            <input placeholder="New Password" ngControl="newPassword" #newPassword="ngForm" id="newPassword" type="password" class="form-control">
            <div *ngIf="newPassword.touched && newPassword.errors">
                <div *ngIf="newPassword.errors.required" class="alert alert-danger">New password is required.</div>
                <div *ngIf="newPassword.errors.duplicatePassword" class="alert alert-danger">New password is the same as current password.</div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <h5>Confirm Password</h5>
            </div>
            <input placeholder="Re-type new Password" ngControl="confirmPassword" #confirmPassword="ngForm" id="confirmPassword" type="password"
                class="form-control">
            <div *ngIf="confirmPassword.touched && !confirmPassword.valid" class="alert alert-danger">
                Confirm the password.</div>

            <div *ngIf="form.errors && form.errors.passwordsShouldMatch" class="alert alert-danger">
                Password doesn't match.</div>
        </div>
        <div class="row">
            <span style="margin-left: 15px">
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid || isLoading">
                    <div *ngIf="!isLoading">Update</div>
                    <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-2x"></i>
                </button>
            </span>
        </div>
    </form>
</div>